 body { background-color: #87ceeb;
  letter-spacing: 1px;
  line-height: 20px;
	 text-indent: 1px;
	 word-spacing: 1px;
}
p
{
	color : #0FF;
}
#Cookies
{
    background-color: orange;
    opacity: 50%;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 15%;
    border-style: solid;
    border-color: #FFF;
    padding: 10px;
    margin: 5px;
    margin-bottom: 30px;
}

video
{
	pointer-events: none;
}